#budget_manager{
    height: auto;
    min-height: 100vh;
    margin: $l-size auto;

    .chart_picker{
        cursor: pointer;
        width: 170px;
        display: inline-table;
        float: right;
        padding: 10px;
        select{
            margin: 5px auto;
            z-index: 1000;
            position: relative;
            background-color: $off-white;
        }

        .pieInvited{
            display: flex;
            width: 30vw;
            z-index: -10;
            .recharts-wrapper{
                transform: scale(1.2);
                top: -40px;
           }
        }

        .allSideInveted, .columnInvited{
            width: 30vw;
            .recharts-wrapper{
                transform: scale(0.8);
                right: -50px;
            }
        }

        .chart_view{
            cursor: pointer;
            .empty_chart{
                border: 4px dashed darken($color: $pink-fuxia, $amount: 10);
                height: 100%;
                opacity: 0.3;
                transition: opacity 0.2s;
                h1{
                    margin: auto auto;
                    font-size: 16rem;
                    color: darken($color: $pink-fuxia, $amount: 10);
                    text-align: center;
                }

            }
    
            .empty_chart:hover{
                opacity: 1;
            }
        }
    }

    .alert{
        text-align: right;
        margin: 10px 15px;
    }
    #budget_table{
        margin: 40px 20px;
        width: auto !important;
        thead{
            font-weight: bold;
        }
        td{
            text-align: right;

            input{
                font-weight: normal;
                font-size: 14px;
            }
        }
        .sum_cell{
            font-weight: bold;
            background-color: darken($color: $off-white, $amount: 6);
        }

        .category_label{
            cursor: pointer;
        }
        .fa-trash{
            opacity: 0.5;
            transition: opacity 0.2s;
            cursor: pointer;
        }
    
        .fa-trash:hover{
            opacity: 1;
        }

    }

    .top_panel{
        .btn{
            margin: 3px 5px;
            float: right;
            i{
                margin-right: 5px;
            }    
        } 
    }

    table{
        margin: auto;

        td,th{ 
            text-align: center;
        }

        th{
            font-size: 3rem;
        }
    }

    #budget_sumeraize{
        th{
            font-size:3rem;
        }
        td{
            font-size: 3rem;
            font-weight: bold;
            background-color: white;

        }

        .sum_budget{
            color: lighten($color: $dark-grey, $amount: 5);
        }

        .sum_presents{
            color: green;        
        }
    }
    #counting_sumerize{
        margin: $xl-size auto;
        td{
            font-size: $xl-size;
            text-align: right;

            i{
                margin: $m-size;
            }
        }
    }
}


@media only screen and(max-width: 850px){
    #budget_manager{
        .top_panel{
            display: flex;
            overflow-x: scroll;
            overflow-y: hidden;
            button{
                font-size: 1.7rem;
            }
        }

        #budget_table{
            margin: 40px 0px;
            
            .fa-id-card-alt{
                color: $pink-fuxia;
                opacity: 0.4;
            }
        }

        .toggle_bar{
            width: 100%;

            .bar{
                position: unset;
            }
            #budget_sumeraize{
                width: 100%;
                th{
                    font-size: 2.2rem;
                    padding: 8px 0px;
                }
                td{
                    padding: 4px;
                    font-size: 2.2rem;
                }
        
                .sum_budget{
                    color: lighten($color: $dark-grey, $amount: 5);
                }
        
                .sum_presents{
                    color: green;        
                }
            }
            #counting_sumerize{
                td{
                    font-size: 3rem;
                    padding: $s-size;
                    display: inline-flex;
                    width:25vw;
                    max-width: 125px;
                    justify-content: space-around;
                    i{
                        font-size: 2.8rem;
                    }
                }
            }
        }
    }

}