.confirmMessage{
    background: rgba(255, 255, 255, 0.5);
    position: fixed;
    height: 350px;
    z-index: 9999;
    top: 0px;
    right: 0px;
    width: 100vw;
    height: 100vh;
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s;

    .innerbox{
        background-color: white;
        position: absolute;
        width: 50vw;
        padding: 25px;
        min-width: 250px;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
            
    }

    .row{
        margin-top: 25px;
        display: flex;
        justify-content: center;

        .btn{
            margin: 5px;
        }
    }
}

.confirmMessage.show{
    visibility: visible;
    opacity: 1;

}


@media screen and (max-width: 850px){
    .confirmMessage{
        .innerbox{
            width: 90vw;
        }
    }
}