.checkbox {
    font-size: 12px;
    color: $grey;
    cursor: pointer;
    transition: 0.2s all;
    span{
        background-color: none;
        border: 1px solid $lite-grey;
        border-radius: 3px;
        height: 10px;
        width: 10px;
        display: inline-flex;
        margin-left: 2px;
    }
}
.checkbox:hover{
    color: $navy-blue;
    text-decoration: underline;
}

.checkbox.active{
    span{
        background-color: $navy-blue;
    } 
}
