footer{
    background-color: $dark-grey;
    color: white;
    height: 250px;
    width: 100%;
    .shadow{
          -moz-box-shadow:     1px 5px 10px #000000;
          -webkit-box-shadow:  1px 5px 10px #000000;
          box-shadow: 1px 5px 10px #000000;
          width: 100%;
          height: 1px;
          position: absolute;
    }

    nav{
        color: white;
        float: right;
        text-align: center;
        margin: 40px;
        ul{
            padding: 0px;
            display: flex;
            flex-direction: column;
        }
        h4{
            font-size: bolder !important;
            text-decoration: underline;
        }

        a{
            color: white;
            text-decoration: none;
            font-size: 1.3*$m-size;

        }

        a:hover{
            text-decoration: none !important;
            color: darken($color: $lite-grey, $amount: 2) !important;
        }

    }

    .contact{
        color: white;
        float: left;
        margin: 40px;
        small{
            float: right;
            margin: $s-size;
        }
        h4{
            font-size: bolder !important;
            text-decoration: underline;
            text-align: right;
        }

        div{
            display: flex;
            justify-content: space-between;
        }
        .form-control{
            margin: 2px;
        }

    }

}

@media only screen and (max-width: 850px){
    footer{
        display: none;
    }
}