header{
    z-index: 1000;
    position: relative;
    .top{
        display: flex;
        justify-content: space-between;
        margin: 10px 5%;

        a{
            font-size: $l-size;
            font-weight: bold;
        }
    }
    .login-btn{
        text-align: right;
        color: $dark-grey !important;
        font-size: 1.5*$m-size !important;
        text-decoration: none !important;
    }
    .mobile{
        display: none;
    }
    .none_mobile{
        display: inline;
    }


    ul{
        display: flex;
        overflow: hidden;
        justify-content: center;
        flex-direction: row-reverse;
        background-color: $pink-fuxia;
        box-sizing: border-box;
        margin: 0px;
    }
    li{
        list-style-type: none;
        display: flex;
        
        a{
            padding: 10px 2.5vw;
            color: white !important;
            text-decoration: none !important;
        }
        a:hover, .selected{
            background-color: darken($color:  $pink-fuxia, $amount: 5);
            border-bottom: 4px solid darken($color:  $pink-fuxia, $amount: 10);
            padding-bottom: 0px;
        }
    }



}

@media only screen and (max-width: 850px){
    header{

        li{
            a{
                width: 100%;
            }
            a:hover, .selected{
                background-color: darken($color:  $pink-fuxia, $amount: 5);
                border-bottom: 0px;
                border-left: 8px solid darken($color:  $pink-fuxia, $amount: 10);
                padding-bottom: 0px;
            }
        }
    

        .none_mobile{
            display: none;
        }
        .mobile{
            display: inline;
        }
 
        ul{
            width: 100%;
            height: 40px;
            justify-content: flex-start;
        }
        .background.close{
            display: none;
        }
        .background{
            position: fixed;
            top: 0px;
            left: 0px;
            width: 100vw;
            height: 100vh;
            background: $dark-grey;
            opacity: 0.5;
            z-index: 8;
        }
        ul .links.close{
            width: 0vw;
            overflow: hidden;
            position: fixed;
        }

        ul .links{
            display: flex;
            position: fixed;
            top: 0px;
            left: 0px;
            flex-direction: column;
            height: 100vh;
            width: 75vw;
            background-color: $pink-fuxia;
            box-sizing: border-box;
            z-index: 9999;
            text-align: center;
            font-size: $l-size;
            transition: all 0.5s;

            a{
                padding: $m-size  !important;
            }

        }
 
        .menu{
            background: none;
            border: 0px;
            width: 25px;
            margin-left: 10px;
            background-image: url('/assets/images/menu.png');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;

        }
    }
}