#invitation_generator.mobile{
    overflow-y: scroll;
    overflow-x: hidden;
}

#invitation_generator{
    @extend .horizontal_layout;

    #invitation_generator > div {
        @extend .vertical_layout;
        background: lighten($color: $off-white, $amount: 3);
    }
    

    #workspace{
        flex: 4;
        background: lighten($color: $off-white, $amount: 5);


        .innerWindow{
            height: 100%;
            width: 65vh;
            margin: auto;
            padding: 5px;
            border-radius: 3px;
        }

        .buttons{
            padding: 15px;
        }
    }
    


    .right_pannel.not_mobile{
        min-width: 25rem;
        padding: 15px;

        .btn{
            margin: 3px 
        }
    }

    .right_pannel.mobile{
        position: absolute;
        width: 100vw;
        height: 100vh;
        padding: 15px;
        background: lighten($color: $off-white, $amount: 3);
        z-index: 1;
        transition: all 0.5s;
    }

    .right_pannel.mobile.hide{
        position: fixed;
        transform: translateX(100%);
    }

    .right_pannel{
        // overflow-y: scroll;
        // overflow-x: hidden;
                
        .go_to{
            text-align: right;
            width: 100%;
            display: block;
            
        }
        overflow: hidden;
        direction: ltr;    
        flex: 1;

        h1{
            text-align: center;
        }
        .form-group{
            text-align: right;
        }

        label{
            margin-top: 1rem;
            margin-bottom: 0.2rem;
        }

    }
    
}

#workspace.success{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    
    #url_to_invitaion{
        width: 70%;
        border: 0px;
        border-radius: 5px;
        padding: 5px;
        margin: 5px auto;
        text-align: center;
        background-color: lighten($color: $lite-grey, $amount: 15)
    }

    .btn-success{
        width: 150px;
        margin: 5px auto;
    }
}


@media only screen and (max-width: 850px){
    #workspace{
        height: 100vh;
        .innerWindow{
            width: 100% !important;
            height: auto;

        }    
    }

    #workspace.success{
        padding: 15px;
        font-size: $l-size;
        h1{
            font-weight: bold;
            font-size: 1.3*$xl-size;
        }        
        #url_to_invitaion{
            width: 100%;
        }
    
        .btn-success{
            width: 100%;
        }
    }
    .right_pannel{
        overflow-y: scroll !important;
        overflow-x: hidden !important;
    }

}