#invitaion_design_manager{
    min-height: 100vh;
    width: 100%;
    margin-top: $l-size;
    h1{
        text-align: center;
    }
    .row{
        margin: 10px;
    }
    table{
        width: 50%;
        margin: auto;
        th{
            text-align: center;
        }
        td{
            text-align: center;
        }

        i{
            cursor: pointer;
            opacity: 0.7;
            transition: all 0.2s;
        }
    
        i:hover{
            opacity: 1;
            transform: scale(1.2);
        }    

        .fas{
            margin: 2.5px;
        }
    }

}