#invitations_store{
    min-height: 100vh;
    margin-top: $l-size;
    h1{
        text-align: center;
    }
    .store_card{
        text-align: right;
        display: inline-flex;
        flex-direction: column;
        margin: 2rem;
        width: 124px;

        .fa-eye{
            cursor: pointer;
            opacity: 0.5;
            color: $pink-fuxia;
        }
        img{
            width: inherit;
            cursor: pointer;
        }

        button{
            width: 100%;
            margin-top: 0.1rem;
            text-align: center;
            display: inherit;
            cursor: pointer;
            display: flex;
            justify-content: space-around;
            i{
                margin: 0.3em;
            }
        }

        button.active{
            color: white;
            background-color: $pink-fuxia;
        }
        .view{
            padding: 0px;
        }
    }
}
@media only screen and(max-width: 850px){
    #invitations_store{
        .store_card{
            margin: 5vh auto;
            display: block;
            img{
                width: 40vw;
                margin: 0px;
            }
            button{
                font-size: 16px;
            }
            .view{
                margin-top: 10px
            }
        }
    }

}