#invitations{
    min-height: 100vh;
    width: 100%;
    margin-top: $l-size;
    h1{
        text-align: center;
    }

    .btn {
        margin: 5px;
    }

    .btn:hover{
        background-color: darken($color: $off-white, $amount: 5);
        .fas{
            color: $navy-blue;
            opacity: 1 !important;
        }
    }
    th,td{
        text-align: center;
    }
    th:first-child, td:first-child{
        text-align: right;
    }

    .fas,.far{
        opacity: 0.3;
        cursor: pointer;
        margin-left: 8px;
        transition: all 0.3s;
    }

    .fa-check-square.active{
        color: $navy-blue;
        opacity: 1;
    }


    tr:hover {
        .fas,.far{
            opacity: 1;
        }
        .fas:active,.far:active{
            transform: scale(1.1);
        }

        .fas:hover,.far:hover{
            color: $pink-fuxia;
        }

        .fa-check-square:hover{
            color: $navy-blue;
        }

    }

    input{
        width: 70%;
        border: 0px;
        border-radius: 5px;
        padding: 5px;
        text-align: center;
        background-color: lighten($color: $lite-grey, $amount: 15)
    }

}


@media only screen and(max-width:850px){
    #invitations{
        .table{
            .addition{
                width: 40vw;
            }
            .linkth{
                width: 100vw;

            }

            i{
                font-size: $l-size;
            }

            input{
                width: 100%;
            }

        }
    }
}