#invited_manager{
    min-height: 100vh;
    width: 100%;
    padding: $l-size;

    #sticky_element{
        margin: 5px auto;
        background: $off-white;
    }

    .alert{
        text-align: right;
        margin-top: 10px;
    }

    table{
        margin: 30px auto;
    }
    thead *,tbody *{
        text-align: center;
    }

    thead th{
        cursor: pointer;

        .fas{
            margin-right:5px
        }
    }

    td{
        .fa-trash{
            cursor: pointer;
        }

        select{
            width: 7rem;
        }
        .form-control{
            font-size: 1.5*$m-size;
        }
        .form-control-plaintext{
            font-size: 1.5*$m-size;
            font-weight: normal;
        }
    }

    .top_panel{
        .btn{
            margin: 3px 5px;
            float: right;
            i{
                margin-right: 5px;
            }    
        } 
    }

    .filter_row{
        text-align: right;
        margin: 10px auto;
        .form-control{
            width: 30%;
            float: right;
            margin: auto 10px;
        }
        .fas{
            float: right;
            margin: 8px auto;
        }
        select{
            padding: 5.5px;
        }
    }
    
}


@media only screen and(max-width: 850px){
    #invited_manager {
        padding: $s-size;
        .top_panel{
            display: flex;
            overflow-x: scroll;
            overflow-y: hidden;

            button{
                font-size: 1.7rem;
            }
        }
    
        .filter_row {
            margin: $m-size;
            .form-control{
                // width: 37vw;
                margin: auto 2vw;
                display: flex;
            }
        }
        .landscape{
            display: none;
        }

        td{
            font-size: 2*$m-size;
            .form-control{
                font-size: 2*$m-size;
            }
            .form-control-plaintext{
                font-size: 2*$m-size;
                font-weight: normal;
            }
        }

    }

    
    #inviteds{
        overflow-x: scroll;
        overflow-y: hidden;
        max-height: 300px;
    }

    @media (orientation: landscape) {
        #invited_manager{
            .landscape{
                display: table-cell;
            }
        }

    }

}