#loader{
    mask-image: url('/assets/images/loader.gif');
    mask-repeat: no-repeat;
    mask-position: center center;
    mask-size: 250px;
    background-color: $pink-fuxia;
    height: 100vh;
    text-align: center;
    position: relative;

    h1{
        position: absolute;
        top: 48%;
        left: 50%;
        transform: translate(-50%);
        font-weight: bold;
        color: white;
    }
}