#all_logs_view{
    min-height: 100vh;
    margin-top: $l-size;
    h1{
        text-align: center;
    }


    nav{
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        margin: 10px 0px;
        div{
            display: inline;
            cursor: pointer;
            padding: 0px 10px;
        }
        .active{
            border-bottom: 3px solid $pink-fuxia;
            font-weight: bold;
        }
    }

    .row{
        margin: $m-size auto;
    }
    table{
        th{
            text-align: center;
        }
        td{
            text-align: center;
        }
        td:first-child{
            text-align: right;
        }
        i{
            cursor: pointer;
            opacity: 0.7;
            transition: all 0.2s;
        }
    
        i:hover{
            opacity: 1;
            transform: scale(1.2);
        }   
        i:active{
            color: $pink-fuxia;
        } 
    }


}