#main{
    background-color: white;
    height: 100%;
    margin: auto 10%;


    section{
        display: block;
        direction: rtl;
        position: relative;
        text-align: right;
        padding: 20px;
        margin: auto 14%;
        font-size: 2*$m-size;
        word-break: normal;
        background-color: rgba(255,255,255,0.75);
        border-radius: 5px;

        h1{
            color: $pink-fuxia;
            font-weight: bolder;
            margin: 10px;
            font-size: $xxl-size;
        }

    }

    .second_section{
        margin-top: 150px; 
        padding-bottom: 100px; 

        text-align: center;

        b{
            color: $navy-blue;
            font-weight: bolder;
            font-size: $xl-size;
        }


        a{
            background-color: $pink-fuxia;
            color: white;
            border: 0px;
            padding: 10px 20px;
            font-size: $xl-size;
            text-decoration: none;
            transition: all 0.2s;
        }

        a:hover{
            background-color: darken($color: $pink-fuxia, $amount: 15)
        }

        .video{
            position: absolute;
            top: 80px;
            left: -50px;

            div{
                background-color: $pink-fuxia;
                color: white;
                display: inline-block;
                padding: 3px 10px;
                border-radius: 10px;
                position: relative;
                top: -95px;
                left: -158px
            }
        }
    }

    .third_section{
        margin-top: 120px; 
        padding-bottom: 100px; 
        text-align: center;
        b{
            color: $pink-fuxia;
            font-weight: bolder;
            margin-bottom: 20px;
        }
        a{
            background-color: $navy-blue;
            color: white;
            border: 0px;
            padding: 10px 20px;
            font-size: $l-size;
            text-decoration: none;
            transition: all 0.2s;
        }

        a:hover{
            background-color: darken($color: $navy-blue, $amount: 15)
        }

    }

    .forth_section{
        margin-top: 120px; 
        padding-bottom: 100px; 
        text-align: center;

        b{
            color: $navy-blue;
        }

    }


    background-image: url('/assets/images/event.jpg'), url('/assets/images/tablet.png');
    background-repeat: no-repeat, no-repeat;
    background-size: 105%, 80%;
    background-position: center top 30%, right -100% top 80%;

    padding-top: '100px';
}


@media only screen and(max-width: 850px){
    #main{
        margin: auto 2%;
        
        section{
            font-size: 1.8*$m-size;
            margin: auto 4%;
        }

        .second_section{            
            b{
                font-size: $xxl-size;
            }

            .video{
                position: relative;
                top: unset;
                left: unset;
                div{
                    background-color: $pink-fuxia;
                    color: white;
                    display: inline-block;
                    padding: 3px 10px;
                    border-radius: 10px;
                    position: relative;
                    top: 10px;
                    right: unset;
                    left: unset;
                }
            }

            
        }

        background-image: url('/assets/images/event.jpg'), url('/assets/images/tablet.png');
        background-repeat: no-repeat, no-repeat;
        background-size: 200%, 100%;
        background-position: center top 40%, left 150px top 105%;
    


        padding-top: '100px';
    
    
    }




    
}