#message_manager{
    text-align: center;
    margin: $l-size auto;
    min-height: 100vh;
    
    .linkToStore{
        margin: $l-size;
        float: left;
    }

    #scheduals{
        .fas,.far{
            opacity: 0.3;
            cursor: pointer;
            margin-left: 8px;
            transition: all 0.3s;
        }
        .fa-check-circle{
            color:$navy-blue;
        }
        .fa-clock{
            color:$pink-fuxia;
        }
        tr:hover {
            .fas,.far{
                opacity: 1;
            }
            .fas:active,.far:active{
                transform: scale(1.1);
            }

        }
    }

    form{
        text-align: right;
        margin-top: $l-size;
        display: inline-block;

        a{
            margin-right: 5px;
            font-size: 1.3*$m-size;
        }

        .error{
            border: 1px solid red;
        }
        .suggest_link{
            font-size: 12px;
            display: block;
            margin: 0px;
            text-decoration: none;
            margin-top: -10px;
        }
        .errorfield > .react-datetime-picker{
            border: 1px solid red;
        }

        .react-datetime-picker{
            margin: 10px auto;
            background-color: white;
            border: 0.5px solid lighten($color: $lite-grey, $amount: 5);
            padding: $s-size;
            border-radius: 3px;

            .react-datetime-picker__wrapper{
                border: 0px;
            }

            *{
                font-family: 'Hobbe-Regular', sans-serif;
            }
        }
        .form-check-label{
            font-size: 1.8rem !important;
            margin: 10px;
        }

        .fa-times.top{
            cursor: pointer;
            float: left;
        }

        .icons_row{
            display: block;
            .top{
                margin: 10px auto;
                div{
                    display: inline-flex;
                    cursor: pointer;
                    background-color: $pink-fuxia;
                    color: white;
                    padding: 2px 15px;
                    border-radius: 20px;
                    margin: 5px 2.5px;
                    font-size: 1.4rem;
                    transition: background-color 0.2s;
                }
                div:hover{
                    background-color: darken($color: $pink-fuxia, $amount: 8); 
                }
            }
            .linkspicker{
                cursor: pointer;
                transition: all 0.2s;
                display: inline;
                background-color: $lite-green;
                padding: 8px 20px;
                padding-left: 30px;
                margin: 10px;
                font-weight: bold;
                border-right: 8px solid darken($color: $lite-green, $amount: 10)
            }
            .linkspicker:hover{
                font-size: 16px;
            }
            .links{
                background-color: $navy-blue !important;
            }
            .links:hover{
                background-color: darken($color: $navy-blue, $amount: 8) !important; 
            }
            .pickicon {
                display: inline-flex;
                width: 5rem;
                border: 0px;
                background: none;
                cursor: pointer;
                outline: none;
                text-align: center;
                padding: 5px;
                font-size: 1.5em;
                transition: all 0.2s;
            }
            .pickicon:hover{
                transform: scale(1.2);
            }
        }

        .pickpersons{
            .fa-search{
                float: right;
            }
        }
        .picked_person{
            height: auto;
            width: 100%;
            margin-top: $m-size;
            li{
                list-style-type: none;
                display: inline;
                margin: 5px;

                .fas{
                    margin: 0px 5px;
                    cursor: pointer;
                }
                .fas:hover{
                    transform: scale(1.3);
                }
            }
        }
        .search_result{
            background-color: white;
            padding: 0px;
            margin: 0px;
            width: 100%;
            .person{
                cursor: pointer;
                padding: 5px 15px;
                border-bottom: 0.2rem solid $lite-grey;
                list-style-type: none;
            }

            .person:hover{
                background-color: darken($color: $off-white, $amount: 10)
            }

            .person.include{
                background-color: $navy-blue;
                color: white;
            }
            .person.include:hover{
                background-color: darken($color: $navy-blue, $amount: 10)
            }
        }

    }


}


@media only screen and(max-width: 850px){
    #message_manager{    
        .pickpersons{
            display: flex;
            justify-content: space-between;
            flex-direction: row;

            *{
                font-size: 1.5rem;
            }
        }

        form {
            
            .react-datetime-picker{
                margin: 5px auto;
            }

  
        }

        .toggle_bar{
            width: 100%;

            .bar{
                position: unset;
            }
        }

    }
}