#package_store{
    min-height: 100vh;

    h1{
        margin: $l-size;
        text-align: center;
    }

    table{
        width: 300px;
        margin: auto;
        background-color: $beige;
        th,td{
            text-align: right;
        }
    }

    .missPhoneNumberError{
        text-align: center;
        margin-top: 20px;
        display: block;
    }
    .paypal-btn{
        margin: $l-size auto;
        background-color: $pink-fuxia;
        color: white;
        padding: $s-size $l-size;
        border-radius: $l-size;
        display: block;

        .fa-credit-card{
            margin-right: 5px;
        }
    }

    .paypal-btn:hover{
        background-color: darken($color: $pink-fuxia, $amount: 10)
    }
    
}


@media only screen and (max-width: 850px){
    #package_store{    
        table{
            width: 85%;
        }
    }

}