#self_details{
    text-align: center;
    margin: $l-size auto;
    min-height: 100vh;

    form{
        margin: $xxl-size;
        .btn{
            margin: $l-size;
            font-size: 1.6rem;
        }

        .form-control,label{
            font-size: 1.4rem;
        }

        .form-control,select,label{
            margin: $s-size auto;
        }

        .errorfield > .react-datetime-picker{
            border: 1px solid red;
        }

        .react-datetime-picker{
            background-color: white;
            border: 0.5px solid lighten($color: $lite-grey, $amount: 5);
            padding: $s-size;
            border-radius: 3px;

            .react-datetime-picker__wrapper{
                border: 0px;
            }

            *{
                font-family: 'Hobbe-Regular', sans-serif;
            }
        }
        .varifiedCode{
            width: 250px;
        }

    }
}


@media only screen and (max-width: 850px ){
    #self_details{

        form{
            margin: 0px;

            .row{
                margin: 0px;
            }

            label{
                font-size: $l-size;
                text-align: right;
                margin-top: $s-size;
                margin-bottom: -$s-size;
            }
            
            .form-control{
                font-size: $l-size;
                padding: $m-size;
            }

            .btn{
                font-size: $l-size;
                padding: $s-size $xl-size;
            }

            h1{
                font-size: $xl-size;
            }

            #phone{
                margin-bottom: $xl-size;
            }

            .varifiedCode{
                width: auto;
            }

        }

        form:nth-child(2){
            margin-top: $xl-size;
        }
    }
}