#sign_in{
    text-align: center;
    margin: $l-size;
    min-height: 75vh;
    h1{
        font-size:5rem;
    }
    a{
        display: block;
        font-size: 14px;
        font-weight: normal;
    }
    button {
        margin: $l-size $s-size;
    }

    .fa-google{
        transform: scale(0.7);
        border: 0px;
    }

    .form-control{
        width: 300px;
        font-size: $l-size;
        padding: 1.4*$m-size;
        margin: $s-size auto;
    }
    
}


@media only screen and (max-width: 850px){
    #sign_in{
        margin: auto;
        a{
            font-size: 18px !important;
            margin: 10px auto !important;
        }
        button{
             display: block !important;
             width: 300px;
             margin: 3px auto !important;
    
        }
    }


}