#single_user_manage{
    min-height: 100vh;
    margin-top: $l-size;

    h1{
        text-align: center;
    }

    h3{
        text-align: right;
        margin-top: $l-size;
    }

    .box{
        border: 1px solid $lite-grey;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        text-align: right;
        padding: 10px;

        span{
            color: $pink-fuxia;
        }

        button{
            color: $pink-fuxia;
            background-color: lighten($color: $off-white, $amount: 4);
            margin: 5px;
            padding: 3px 10px;
            opacity: 0.7;
            border-radius: 4px;
            transition: all 0.2s;
        }

        button:hover{
            opacity: 1;
            color: darken($color: $pink-fuxia, $amount: 5)
        }
        button:active{
            transform: scale(1.1);
        }
    
    }

    .purchases_table{
        text-align: right;
        width: 250px;
        margin: auto;
    }

    .center{
        text-align: center;
    }
}