#sitting_arrange{
    margin: 40px;
    position: relative;
    #hoverList{
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background-color: white;
        padding: 10px;
        font-size: 10px;
        opacity: 0.9;
        z-index: 99999;
        text-align: right;
        li{
            list-style-type: none;
        }
    }

    #sticky_element.sticky{
        z-index: 9999;
        background-color: $off-white
    }

    .table_editor{
        position: fixed;
        top: 0px;
        left: 0px;
        height: 100%;
        z-index: 1000;
        width: 100%;
        display: flex;
        justify-content: center;
        vertical-align: middle;



        .alert-danger{
            text-align: right;
        }

        .clickable_background{
            position: fixed;
            top: 0px;
            left: 0px;    
            height: 100%;
            width: 100%;
            background-color: white;
            opacity: 0.5;    
        }
        .editor_box{
            height: 450px;
            width: 65vw;
            min-width: 750px;
            position: absolute;
            z-index: 9999;
            background-color: $off-white;
            border: 0.2rem solid $lite-grey;
            top: 50%;
            transform: translatey(-50%);
            padding: 20px;

            
            display: flex;
            flex-direction: column;
            justify-content: center;
            .top{
                h1{
                    text-align: center;
                    margin-bottom: 10px;
                }
            }

            .body{
                display: flex;
                justify-content: space-between;
                flex-direction: row-reverse;    
                height: 100%;
                .person_picker{
                    border: 1px solid $lite-grey;
                    width: 50%;
                    height: 100%;
                    display: flex;
                    border-radius: 5px;
                    justify-content: space-between;
                    padding: 5px;

                    h4{
                        margin: 10px;
                    }
                    .outPerson,.inPerson{
                        width: 49%;
                        text-align: center;
                        position: relative;
                        h4{
                            margin: 3px auto;
                            text-decoration: underline;
                        }
                        ul{
                            background-color: white;
                            padding: 0px;
                            margin: 5px;
                            height: 90%;
                            overflow-y: scroll;
                            li{
                                padding: 2px 5px;
                                text-align: right;
                                list-style-type: none;
                                cursor: pointer;
                            }
                            li:hover{
                                background-color: darken($color: $off-white, $amount: 5)
                            }
                        }
        
                    }
    
                }
    
                .editor_box_table_view {
                    width: 50%;
                    position: relative;
                    display: flex;
                    justify-content: center;
                    div{
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        background-color: $pink-fuxia;
                        border: 1px solid $pink-fuxia;    
                        input{
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            width: 50%;
                            text-align: center;
                            transform: translate(-50%);    
                        }
                    }
                }    
            }

        }
    }

    .seach_box{
        margin: 5px auto;
        margin-bottom: 15px;

        input{
            font-size: 1.8rem;
        }
        .result_person{
            display: flex;
            justify-content: space-evenly;
            flex-direction: row;
            width: 90%;
            margin: auto;
            padding: 5px;

            span{
                flex: 1;
                text-align: center;
            }
            span:nth-child(1){
                text-align: right;
            }

        }

        .result_person:hover{
            background-color: darken($color: $off-white, $amount: 5)
        }
    }
    .table_cell {
        font-size: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        vertical-align: middle;
        height: 100%;
        width: 100%;
        background-color: $pink-fuxia;
    }

    .table_view_mode_cell{
        @extend .table_cell;
    }

    .table_view_mode_cell:hover{
        background-color: darken($color: $pink-fuxia, $amount: 5);
        cursor: pointer;
    }

    .dragable_table{
        @extend .table_cell;
        cursor: move;

    }

    .table_views{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 10px auto;
        padding: 5px 20%;
        border: 0.5px solid $lite-grey;
        background: lighten($color: $off-white, $amount: 2);
        
        .table_view_elem{
            margin: 5px;
        }
    }

    table{
        tbody{
            width: 100%;
            tr{
                width: 100%;
    
                td{
                    width: 100%;
                    flex: 1;
                    padding: 0px;
                    text-align: center;
                    border: 0.1rem solid $lite-grey;
                }

                td.cube {
                    background-color: $pink-fuxia;
                    border: 1px solid $pink-fuxia;
                }
            }
    
        }
    }
}