#takanon{
    min-height: 100vh;
    margin: $xxl-size;
    text-align: center;

    ol{
        width: 75%;
        margin:auto;
        text-align: right;
        margin-top: $l-size;
        li{
            margin: $m-size 0px;
        }
    }
}