#template_view{
    margin: auto;
    width: 70vh;
    height: 100vh;
    text-align: center;

    .box{
        position: absolute;
        top: 0px;
        left: 1vw;
        width: 25vw;

        .notify_input{
            display: flex;
            font-size: 1.8rem;
            justify-content: space-between;
            flex-direction: row;
            width: 90%;
            margin: 5px auto;
            i{
                margin: 0px 8px;
                cursor: pointer;
                color: $pink-fuxia;
            }
            i:active{
                color: darken($color: $pink-fuxia, $amount: 10)
            }
            span{
                background-color: darken($color: $off-white, $amount: 10);
                padding: 5px auto;
                width: 50px;
                display: inline-block;
                margin: 0px;
            }
        }
        a{
            border: 2px solid lighten($color: $deep-blue, $amount: 10); 
            color: lighten($color: $deep-blue, $amount: 10) !important;
            text-decoration: none !important;
            padding: 10px 20px;
            border-radius: 15px;     
            font-size: 1.3*$l-size; 
            display: inline-block;
            width: 100%;
            margin: 5px;

            i{
                margin-right: 10px;
            }
        } 
        
        .btn{
            width:100%;
            margin: 2.5px;
            display: flex;
            justify-content: space-between;
            padding: 5px 40px;
            transition: all 0.2s;
            
            i{
                margin: 2.5px 0px;
                font-size: 18px;
            }
        }

        .btn:hover{
            background-color: darken($color: $off-white, $amount: 7)
        }

        .plus{
            color: $navy-blue;
            font-size: 16px;
            display: inline;
            background-color: $off-white !important;

            i{
                font-size:14px;
            }
        }

    }


}

@media only screen and (max-width: 1020px){
    #template_view{
        margin: 0px;
        width: 100%;

        margin-bottom: 10px;
        overflow-x: hidden;
        .box{
            position: relative !important;
            width: 100%;
            left: 0px;
            a{
                font-size: 5.8vw;
                width: 96%;
                margin: 0px !important;
                i{
                    font-size: 5.8vw;
                }
            }
            #notifying{
                width: 90%;
                margin:auto;
                padding: 0px 5px;
                font-size: 5.8vw;
                .notify_input{
                    font-size: 5.8vw;
                    display: flex;
                    justify-content: space-between;
                    flex-direction: row;
                    margin: 5px auto;
                    i{
                        font-size: 7vw;
                        margin: 0px 8px;
                        cursor: pointer;
                        color: $pink-fuxia;
                    }
                    i:active{
                        color: darken($color: $pink-fuxia, $amount: 10)
                    }
                    span{
                        width:10vw;
                    }
                }

                .btn{
                    margin: 5px auto;
                    font-size: 5.8vw;
                    i{
                        font-size: 5.8vw;
                    }
                }
        
                .plus{
                    i{
                        font-size: 5vw;
                    }

                }
            }
    
        }
    }   

}