.toggle_bar{
    width: 100%;
    margin: $m-size auto;
    background-color: $beige;

    .bar{
        z-index: 1000;
        position: relative;
        color: white;
        text-align: right;
        padding: 5px 10px;
        border-radius: 5px;
        cursor: pointer;
        background-color: $navy-blue;
    }
    .bar:before{
        content: '- ';
    }

    .bar.open::before{
        content: '+ ';
    }
}