.tooltip_c{
    position: relative;

    .label{
        position: absolute;
        top: -35px;
        left: 35px;
        width: 27vw;
        text-align: right;
        background-color: white;
        padding: 5px 10px;    
    }
}