#all_users_view{
    min-height: 100vh;
    margin-top: $l-size;
    h1{
        text-align: center;
    }

    table{
        th{
            text-align: center;
        }
        td{
            text-align: center;
        }
        td:first-child{
            text-align: right;
        }
        i{
            cursor: pointer;
            opacity: 0.7;
            transition: all 0.2s;
        }
    
        i:hover{
            opacity: 1;
            transform: scale(1.2);
        }    

        .fas{
            margin: 2.5px;
        }
    }

}