#templateOne{
    border: 4px solid $deep-blue;
    width: calc(100vh/1.5);
    height: 100vh;
    padding: 3px;


    .innerBox{
        border: 2px solid lighten($color: $deep-blue, $amount: 10);
        height: 100%;
        background: url('/assets/images/baby_born1.png');
        background-size: contain;
        background-repeat: no-repeat;
        font-family: 'Heebo-Regular';
        background-position:  top center;
        position: relative;
        display: flex;
        justify-content: center;
    }

    .innerBox h1{
        position: absolute;
        color: white;
        font-size: 5.5vh;
        top: 14%;
        font-weight: bold;
    
    }
    
    .templateTextStyle{
        position: absolute;
        font-size: 3vh;
        word-break: break-word;
        max-width: 70%;
        overflow: hidden;
    }
    
    .innerBox .body{
        @extend .templateTextStyle;
        top: 30%;
        text-align: center;
        max-height: 15%;
    }
    
    .innerBox .details{
        @extend .templateTextStyle;
        top: 50%;
        text-align: center;
        font-size: 3.5vh;
        font-weight: bold;
    }
    
    .innerBox .image{
        @extend .templateTextStyle;
        top: 70%;
        width: 25%;
    }
    
    .innerBox .image > img{
        width: 100%;
    }
    
    .innerBox .epilog{
        @extend .templateTextStyle;
        top: 95%;
    }
    

}




@media screen and (max-width: 1020px){
    #template_view{
        #templateOne{
            border: 0px solid $dark-grey;
            height: calc(100vw*1.5);
            width: 100%;
            padding: 3px;
            .innerBox h1{
                font-size: 10vw;    
            }
        
            .templateTextStyle{
                font-size: 5vw;
            }
        
        
            .innerBox .details{
                font-size: 5.5vw;
        
            }
        
        
            .innerBox .epilog{
                font-size: 4vw;
            }
        
        }
    
    }
    
}