#birthday_1{
    border: 1px dotted lighten($color: black, $amount: 15);
    width: calc(100vh/1.5);
    height: 100vh;
    padding: 3px;

    
    
    .innerBox{
        height: 100%;
        background: url('/assets/images/birthday_1.png');
        background-size: 90%;
        background-repeat: no-repeat;
        font-family: 'Heebo-Regular';
        background-position:  top center;
        position: relative;
        display: flex;
        justify-content: center;
    }

    .innerBox h1{
        position: absolute;
        color: white;
        background-color: black;
        padding: 5px 20px;
        border-radius: 20px;
        font-size: 5.5vh;
        top: 14%;
        font-weight: bold;
        display: none;
    
    }
    
    .templateTextStyle{
        position: absolute;
        font-size: 3vh;
        word-break: break-word;
        max-width: 100%;
        overflow: hidden;
        color: black;
    }
    
    .innerBox .body{
        @extend .templateTextStyle;
        top: 40%;
        text-align: center;
    }
    
    .innerBox .details{
        font-size: 3.5vh;
        text-align: center;
    }
    
    .innerBox .image{
        @extend .templateTextStyle;
        top: 73%;
        width: 25%;
    }
    
    .innerBox .image > img{
        width: 100%;
    }
    
    .innerBox .epilog{
        @extend .templateTextStyle;
        top: 95%;
    }
    


}


@media screen and (max-width: 1020px){
    #template_view{
        #birthday_1{
            height: calc(100vw*1.5);
            width: 100%;
            padding: 3px;
            .innerBox h1{
                font-size: 10vw;    
            }
        
            .templateTextStyle{
                font-size: 5vw;
            }
        
        
            .innerBox .details{
                font-size: 5.5vw;
        
            }
        
        
            .innerBox .epilog{
                font-size: 4vw;
            }
        
        }
    
    }
    
}