#wedding_classic{
    border: 0px solid $dark-grey;
    width: calc(100vh/1.5);
    height: 100vh;
    padding: 3px;
    position: relative;

    .innerBox{
        background-color: $beige;
        border: 2px solid lighten($color: $dark-grey, $amount: 10);
        height: 100%;
        font-family: 'Heebo-Regular';
        position: relative;
        display: flex;
        justify-content: center;
    }

    .innerBox h1{
        font-family: 'Shadows Into Light', cursive;
        position: absolute;
        color: $dark-grey;
        font-size: 3.5vw;
        top: 5%;
        font-weight: bold;

    }

    .templateTextStyle{
        position: absolute;
        font-size: 2vw;
        word-break: break-word;
        overflow: hidden;
        color: lighten($color: $dark-grey, $amount: 8)
    }

    .innerBox .body{
        @extend .templateTextStyle;
        top: 20%;
        max-height: 20%;
        text-align: center;
    }

    .innerBox .details{
        @extend .templateTextStyle;
        top: 40%;
        font-size: 2vw;
        font-weight: bold;
        text-align: center;

    }

    .innerBox .image{
        @extend .templateTextStyle;
        top: 60%;
        width: 25%;
    }

    .innerBox .image > img{
        width: 100%;
    }

    .innerBox .epilog{
        @extend .templateTextStyle;
        bottom: 1%;
        font-size: 1.5vw;
        text-align: center;
    }

    .innerBox .groomParents{
        @extend .templateTextStyle;
        top: 70%;
        right: 2%;
        display: flex;
        justify-content: center;
        text-align: center;
        width: 30%;
        flex-direction: column;
    }

    .innerBox .brideParents{
        @extend .templateTextStyle;
        top: 70%;
        left: 2%;
        width: 30%;
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

}



@media screen and (max-width: 1020px){
    #template_view{
        #wedding_classic{
            border: 0px solid $dark-grey;
            height: calc(100vw*1.5);
            width: 100%;
            padding: 3px;
            .innerBox h1{
                font-size: 10vw;    
            }
        
            .templateTextStyle{
                font-size: 5vw;
            }
        
        
            .innerBox .details{
                font-size: 5.5vw;
        
            }
        
        
            .innerBox .epilog{
                font-size: 4vw;
            }
        
        }
    
    }
    
}