#wedding_elegant{
    border: 0px solid $dark-grey;
    height: 100%;
    padding: 3px;

    .innerBox{
        background-color: $beige;
        border: 2px solid lighten($color: $dark-grey, $amount: 10);
        height: 100%;
        font-family: 'Heebo-Regular';
        position: relative;
        display: flex;
        justify-content: center;
    }

    .innerBox h1{
        font-family: 'Shadows Into Light', cursive;
        position: absolute;
        color: $dark-grey;
        font-size: 5.5vh;
        top: 5%;
        font-weight: bold;

    }

    .templateTextStyle{
        position: absolute;
        font-size: 2.8vh;
        word-break: break-word;
        overflow: hidden;
        color: lighten($color: $dark-grey, $amount: 8)
    }

    .innerBox .body{
        @extend .templateTextStyle;
        top: 16%;
        max-height: 21%;
        text-align: center;
    }

    .innerBox .details{
        @extend .templateTextStyle;
        top: 40%;
        font-size: 2.5vh;
        font-weight: bold;
        text-align: center;
        h3{
            color: $pink-fuxia;
        }
    }

    .innerBox .image{
        @extend .templateTextStyle;
        top: 65%;
        width: 90%;
    }

    .innerBox .image > img{
        width: 100%;
        filter: invert(.5) sepia(1) saturate(5) hue-rotate(175deg);
    }

    .innerBox .epilog{
        @extend .templateTextStyle;
        bottom: 1%;
        text-align: center;
    }

    .innerBox .groomParents{
        @extend .templateTextStyle;
        top: 78%;
        right: 2%;
        display: flex;
        justify-content: center;
        text-align: center;
        width: 30%;
        flex-direction: column;
    }

    .innerBox .brideParents{
        @extend .templateTextStyle;
        top: 78%;
        left: 2%;
        width: 30%;
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

}


@media screen and (max-width: 1020px){
    #template_view{
        #wedding_elegant{
            border: 0px solid $dark-grey;
            height: calc(100vw*1.5);
            width: 100%;
            padding: 3px;
            .innerBox h1{
                font-size: 10vw;    
            }
        
            .templateTextStyle{
                font-size: 4vw;
            }
    
            .innerBox .body{
                font-size: 4vw;
            }
    
        
            .innerBox .details{
                font-size: 3.5vw;
    
                h3{
                    font-size: 4vw;
                }
    
                div{
                    margin-bottom: 5px;
                }
        
            }
    
        
        
            .innerBox .epilog{
                font-size: 3vw;
            }
        
            .innerBox .groomParents{
                font-size: 3.5vw;
            }
        
            .innerBox .brideParents{
                font-size: 3.5vw;
        
            }
    
    
        }
    
    
    }

    
}