#wedding_sea{
    border: 0px solid $dark-grey;
    height: 100%;
    padding: 3px;
    overflow: hidden;
    background-size: 125%;
    background-position: 50%;
    .innerBox{
        background-repeat: no-repeat;
        background-size: cover;
        border: 2px solid lighten($color: $dark-grey, $amount: 10);
        height: 100%;
        font-family: 'Heebo-Regular';
        position: relative;
        display: flex;
        justify-content: center;
    }

    .innerBox h1{
        // font-family: 'Shadows Into Light', cursive;
        font-family: 'Heebo-Regular';
        position: absolute;
        color: white;
        font-size: 5.5vh;
        top: 5%;
        right: 5%;
        font-weight: bold;

    }

    .templateTextStyle{
        position: absolute;
        font-size: 3vh;
        word-break: break-word;
        overflow: hidden;
        color: lighten($color: $dark-grey, $amount: 8)
    }

    .innerBox .body{
        @extend .templateTextStyle;
        top: 45%;
        text-align: center;
        font-size: 25px;
        color:#004647;
        line-height: 1.2;
    }


    .innerBox .image{
        @extend .templateTextStyle;
        top: 20%;
        width: 25%;
        opacity: 1;
    }

    .innerBox .image > img{
        width: 100%;
    }

    .innerBox .epilog{
        @extend .templateTextStyle;
        left: -45%;
        top: 55%;
        overflow: inherit;
        position: relative;
        transform: translatey(-25%);
        div{
            font-family: 'Heebo-Light';
            color:black;
            transform: rotate(270deg);
        }
    }

    .innerBox .groomParents{
        @extend .templateTextStyle;
        top: 80%;
        right: 2%;
        display: flex;
        justify-content: center;
        text-align: center;
        color:black;
        width: 28%;
        flex-direction: column;
        line-height: 1.2;
    }

    .innerBox .brideParents{
        @extend .templateTextStyle;
        color:black;
        line-height: 1.2;
        top: 80%;
        left: 2%;
        width: 28%;
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

}


@media only screen and (max-width: 1020px){
    #template_view{
        #wedding_sea{
            overflow-y: auto;
            width: 100%;
    
            height: calc(100vw * 1.6);
            margin: auto;
            .innerBox{
                background-size:cover;
                background-position:center center;
                .templateTextStyle{
                    position: absolute;
                }    
                h1{
                    font-size: 8.5vw;
                }
        
                .body{
                    font-size: 5.5vw;
                }
                .groomParents,.brideParents{
                    font-size: 4.5vw;
                }
                .epilog{
                    font-size: 4.5vw !important;
                    top: 30% !important;
                    left: -35vw !important;
                }
            }
    
    
        }
    
    }
    
}