@font-face{
    font-family: 'Heebo-Regular';
    src: url('/assets/fonts/Heebo-Regular.ttf') format('truetype');
}

@font-face{
    font-family: 'Heebo-Bold';
    src: url('/assets/fonts/Heebo-Bold.ttf') format('truetype');
}

@font-face{
    font-family: 'Heebo-Medium';
    src: url('/assets/fonts/Heebo-Medium.ttf') format('truetype');
}

@font-face{
    font-family: 'Heebo-Light';
    src: url('/assets/fonts/Heebo-Light.ttf') format('truetype');
}


*{
    direction: rtl;
}

html{
    font-size:62.5%;
    direction: rtl;
    overflow-x: hidden;
}

body{
    font-family: 'Hobbe-Regular', sans-serif;
    font-size: 1.6rem;
    color: $dark-grey;
    background: $off-white;
    margin: 0px;
    height: 100%;
}


button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}

.loader{
    background-color: rgba($color: (#ffffff), $alpha: 1.0); 
    background-image: url('/images/ignore/loader.gif');
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
    width: 100%;
    height: 100%;
    top:0px;
    left:0px;
}


.horizontal_layout{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    justify-content: flex-start;
}

.vertical_layout{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
}


.emoji{
    width: 25px;
    transition: all 0.2s;
}

.emoji:hover{
    transform: scale(1.2);
}



#alert{
    background-color: opacify($color: $dark-grey, $amount: 0.4);
    color: white;
    padding: 10px;
    position: fixed;
    z-index: 9999;
    right: 10px;
    bottom: 10px;
    min-width: 50px;
    text-align: right;
    transition: all 0.2s;
}

#alert.show{
    opacity: 1;
    visibility: visible;
}

#alert.hide{
    opacity: 0;
    visibility: hidden;
}


#loginAs {
    background-color: opacify($color: $dark-grey, $amount: 0.4);
    color: white;
    padding: 3px 10px;
    font-size: 12px;
    position: fixed;
    z-index: 9999;
    left: 50%;
    transform: translateX(-50%);
    top: 0px;
    min-width: 50px;
    text-align: right;

    span{
        cursor: pointer;
        text-decoration: underline;
    }
}

#loginAs.show{
    opacity: 1;
    visibility: visible;
}

#loginAs.hide{
    opacity: 0;
    visibility: hidden;
}

._loader{
    display: block;
    margin: auto;
}



.react-datetime-picker__calendar{
    top: 50% !important;
    position: fixed !important;
    left: 50% !important;
    transform: translate(-50%,-50%) !important;
    bottom: unset !important;
    right: unset !important;
    z-index: 9999 !important;
}
.react-datetime-picker__clock{
    display: none;
}

#whatsapplink{
    position: fixed; 
    bottom: 20px; 
    left: 20px; 
    height: 45px; 
    width: 45px; 
    background-color:white; 
    border-radius: 50%;
}


.page{
    height: auto;
    min-height: 70vh;
    margin: $l-size auto;

    .title{
        text-align: center;
    }

}

@media screen and (max-width: 850px){
    #whatsapplink{
        bottom: 8px; 
        left: 8px; 
    }
    

}