.react-datetime-picker__wrapper,.react-datetime-picker__inputGroup{
    direction: ltr !important;
}
.react-datetime-picker{
    display: block !important;
}

select.form-control:not([size]):not([multiple]){
    height: unset;
}

.form-control, label{
    font-size: 1.5*$m-size;
}

.btn{
    font-size: 1.5*$m-size;
}


@media only screen and(max-width: 850px){

    .form-control, label{
        font-size: $l-size;
    }
    
    .btn{
        font-size: $l-size;
    }    
}