// Color
$dark-grey: #58595b;
$lite-grey: #D1D1D1;
$grey: #818284;
$off-white: #ecefe8;
$lite-green: #c5d82e;
$green: rgb(153, 184, 42);
$deep-blue: #286fc6;
// $navy-blue: #007bff;
$navy-blue: #307DD4;
// $pink-fuxia: #fc0384;
$pink-fuxia: #DA3487;
$beige: #f7f6f3;

//Spacing
$s-size: 0.5rem;
$m-size: 0.9rem;
$l-size: 2.2*$m-size;
$x-size: 2.5*$m-size;
$xl-size: 3*$m-size;
$xxl-size: 5*$m-size;
$t-size: 7*$m-size;
$desktop-breakpoint: 45rem;
